<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OneConfig_Source" value="this file" />
    <add key="OneConfig_Source2" value="Data Source=#{source};Initial Catalog=#{database};Integrated Security=True" />
    <add key="source" value="localhost\SQLExpress" />
    <add key="database" value="MyDatabase" />
  </appSettings>
</configuration>