<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SampleKey" value="SampleValue"/>
    <add key="SampleKeyToOverride" value="This value should be overridden"/>
    <add key="DatabaseConnectionString" value="Data Source=localhost\SQLExpress;Initial Catalog=MyDatabase;Integrated Security=True"/>
    <add key="OneConfig_Source" value="this file"/>
    <add key="OneConfig_Source2" value="Tests\SampleXML\sample.xml//mySection"/>
    <add key="OneConfig_Source3" value="Tests\SampleXML\nosuchfile.xml//mySection"/>
    <add key="OneConfig_Source4" value="command line"/>
    <add key="OneConfig_Source5" value="Data Source=localhost\SQLExpress;Initial Catalog=#{ResolveMe};Integrated Security=True"/>
    <add key="OneConfig_Source6" value="Tests\SampleXML\sample.xml//anotherSection"/>
    <add key="ConfigWithVariables" value="#{Variable1} #{Variable2}"/>
    <add key="ThisIsANumber" value="12345"/>
    <add key="ThisIsAPath" value="Tests\SampleXML"/>
    <add key="ThisIsANewPath" value="Tests\NewFolder"/>
    <add key="ThisIsAFile" value="Tests\SampleXML\sample.xml"/>
    <add key="ThisIsANewFile" value="Tests\SampleXML\doesntexist.xml"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
