<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SampleKey" value="SampleValue"/>
    <add key="SampleKeyToOverride" value="This value should be overridden"/>
    <add key="DatabaseConnectionString" value="Data Source=localhost\SQLExpress;Initial Catalog=MyDatabase;Integrated Security=True"/>
    <add key="OneConfig_Source" value="this file"/>
    <add key="OneConfig_Source2" value="Tests\SampleXML\sample.xml//mySection"/>
    <add key="OneConfig_Source3" value="command line"/>
    <add key="ConfigWithVariables" value="#{Variable1} #{Variable2}"/>
  </appSettings>
</configuration>