<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net452" />
  <package id="NUnit" version="3.11.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net452" />
  <package id="OneConfig" version="1.0.0-alpha" targetFramework="net452" />
  <package id="StructureMap" version="4.7.0" targetFramework="net452" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net452" />
</packages>